{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".eslintrc", ".stylelintrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "trailingComma": "es5",
  "singleQuote": true
}
